<html>
  <header>
    <% include ../../partials/header.ejs %>
    <!-- <script src="https://unpkg.com/konva@4.0.0/konva.min.js"></script>
    <script src="scripts/main.js" defer type="module"></script> -->
  </header>
  <body>
    <div>
      <h1>Bounding Box Test</h1>
      <div id="container"></div>
    </div>
  </body>
</html>