<title>Bobby's Breakout</title>
<link rel="stylesheet" href="stylesheets/main.css">
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
<script src="https://unpkg.com/konva@4.0.0/konva.min.js"></script>
<script src="scripts/main.js" defer type="module"></script>