#title {
  text-align: center;
}
/* 
#container {
  width: 758px;
  height: 300px;
} */

.controls {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.controls .key {
  display: inline-block;
  background: url(/assets/icon_key.png);
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 87.50250000000001%;
  font-weight: bold;
  color: #09f;
}