*{
  box-sizing: border-box;
}

body {
  font: normal 75%/1.5 Open Sans,Arial,sans-serif;
  background-color: #ECECEC;
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 1em;
}

.header {
  display: flex;
  height: 50px;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.game {
  width: 90%;
  border: 2px solid black;
}

#logoutbtn {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.info{
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
  width: 20%;
  padding-left: 1em;
  padding-right: 0.5em;
}

#premium_benefits{
  list-style-type: none;
}

.controls {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.controls li {
  display: inline-block;
  margin: 0 16px 0 0;
}

.controls .key {
  display: inline-block;
  background: url(/assets/icon_key.png);
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 87.50250000000001%;
  font-weight: bold;
  color: #09f;
}

#premium_content {
  width: 15%;
  float: left;
  margin-left: 60px;
}

/* Example from Konva Demos */
.menu {
  display: none;
  position: absolute;
  width: 80px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}

.menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

.menu button:hover {
  background-color: lightgray;
}
