<html>
  <header>
    <!-- <% include ../partials/header.ejs %> -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="https://unpkg.com/konva@4.0.0/konva.min.js"></script>
</header>
<body>
    <div>
        <h1 id="title">Bobby's Breakout</h1>
        <div id="gameArea">
          <div id="premium_content"  style="display: none;">
            <h2>You're premium!</h2>
            <p style="white-space: pre-wrap;">This comes with benefits:&#10;Exp + 10%&#10;Loot drop RNG + 10%&#10;And more...</p>
          </div>
          <div id="container"></div>
        </div>
        <div id="info">
          <ul class="controls">
            <li><img src="assets/icon_wasd.png"> Move</li>
            <li>
              <div class="key">E</div>
              Interact
            </li>
            <li>
              <div class="key">P</div>
              Pause
            </li>
          </ul>
          <p>Escape Simon Fraser University as THE Bobby Chan, famous lecturer 
             trying to get home to his wife.</p>
          <p>Either fight your way out, or escape silently. The choice is yours.</p>
          <p>You're the grey block. Go to the red exit to complete each level. NPCs are the yellow blocks and they can see in a square in front of them.</p>
        </div>
    </div>
    <script type="module" src='scripts/main.js'></script>
  </body>
</html>